body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.noscrolling {
  overflow-y: hidden;
  padding-right: 17px;
}
.noscrolling__mobile {
  overflow-y: hidden;
}
._container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.nav__list {
  max-width: 424px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  .nav__item {
    white-space: nowrap;
    a {
      color: #fff;
    }
  }
}
.desktop__menu {
  display: flex;
  justify-content: space-between;
  // margin-top: 55px;
  height: 55px;
  align-items: center;
  a {
    white-space: nowrap;
  }
}
.nav__phone {
  display: flex;
  color: #fff;
  align-items: center;
  img {
    width: 24px;
    height: 24px;
    margin-right: 11px;
  }
}
.main {
  position: relative;
  padding-top: 55px;
}

/* Гамбургер*/
.hamburger__menu {
  display: none;
  z-index: 1000;
  position: absolute;
  // overflow: hidden;
}
#menu__toggle {
  opacity: 0;
}
#menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center; /* центрируем содержимое кнопки */
  position: relative;
  top: -64px;
  left: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
#menu__btn > span,
#menu__btn > span::before,
#menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
#menu__btn > span::before {
  content: "";
  top: -8px;
}
#menu__btn > span::after {
  content: "";
  top: 8px;
}
#menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 90px 46px 15px 0;
  list-style: none;
  text-align: start;
  background: #212742;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
} /* элементы меню */
.menu__item {
  display: block;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

#menu__toggle {
  position: fixed;
}
#menu__toggle:checked ~ #menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ #menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ #menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ #menu__box {
  visibility: visible;
  right: 0;
}
#menu__btn > span,
#menu__btn > span::before,
#menu__btn > span::after {
  transition-duration: 0.25s;
}
#menu__box {
  transition-duration: 0.25s;
}
.menu__item {
  transition-duration: 0.25s;
}
/* Гамбургер окончание */

// .nav__menu{
//   position: relative;
// }
.main__ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
._ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.main__block {
  margin-top: 154px;
  padding-bottom: 265px;
}
h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 88px;
  color: #ffffff;
}
@media (max-width: 1002px) {
  .main__block {
    margin-top: 0;
    padding-top: 85px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h1 {
    font-size: 48px;
    line-height: 64px;
  }
}
@media (max-width: 829px) {
  .main__block {
    padding-top: 30px;
  }
  .main {
    padding-top: 110px;
  }
  .desktop__menu {
    display: none;
  }
  .hamburger__menu {
    display: block;
    .nav__logo {
      padding-bottom: 5px;
    }
  }
  .nav__list {
    max-width: none;
  }
  .nav__item {
    border-bottom: 1px solid#fff;
    padding-left: 46px;
    line-height: 50px;
  }
}
@media (max-width: 340px) {
  .hamburger__menu {
    display: block;
    .nav__logo {
      width: 100%;
    }
  }
}
.order {
  margin-top: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.reserve {
  height: 100px;
  width: 270px;
  text-align: center;
  background: #3a4574;
  color: #fff;
  line-height: 110px;
  &:hover{
    background: #5b679c;
    transition: all .2s ease;
  }
}
.social {
  display: flex;
  justify-content: space-between;
  max-width: 267px;
  width: 100%;
  margin-left: 15px;
}
.social__item {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  &:hover{
    background: #5b679c;
    transition: all .2s ease;
  border: 1px solid #5b679c;
  }
}
@media (max-width: 581px) {
  .reserve {
    width: 100%;
  }
  .social {
    max-width: none;
    margin-top: 25px;
  }
}

.dishes {
  display: flex;
  justify-content: space-between;
  color: #000;
  margin-top: 80px;
}
.dishes__text {
  max-width: 468px;
  width: 100%;
  .day__of__week {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-top: 20px;
  }
  span {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    margin-bottom: 20px;
    position: relative;
    align-items: center;
  }
}
.dishes__item {
  border-bottom: 1px solid #e7e7e7;
}
.menu__dot {
  background: #d3b47f;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin-left: 12px;
}
.dish2 {
  margin-left: 12px;
}
.box__dot {
  display: flex;
}

.restaurant__foto__box {
  max-width: 668px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  img {
    width: 323px;
    height: 486px;
  }
}
.restaurant__foto_rectangle {
  width: 471px;
  height: 502px;
  position: absolute;
  border: 2px solid #d3b47f;
  top: 51px;
  left: 97px;
  z-index: -1;
}
.restaurant__foto1 {
  margin-top: 152px;
}

@media (max-width: 1179px) {
  .dishes {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}

@media (max-width: 684px) {
  .restaurant__foto_rectangle {
    display: none;
  }
  .restaurant__foto__box {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: -670px;
    z-index: -1;
  }
  .restaurant__foto1 {
    margin-top: 0;
    object-fit: cover;
  }
  .restaurant__foto2 {
    display: none;
  }
  .restaurant__foto__box img {
    width: 100%;
    height: 100%;
    filter: brightness(40%);
  }
  .dishes {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    color: #fff;
    margin-top: 95px;
  }
  .dishes__text {
    padding: 15px;
  }
  .dishes__text span {
    font-size: 16px;
  }
}

@media (max-width: 496px) {
  .dishes__text .day__of__week {
    font-size: 18px;
    line-height: 27px;
    margin-top: 9px;
  }
  .dishes__text span {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
  }
  .dish2 {
    margin-left: 6px;
  }
  .menu__dot {
    height: 3px;
    width: 3px;
    margin-left: 6px;
  }
  .restaurant__foto__box {
    margin-top: -390px;
    height: 478px;
  }
  .dishes {
    margin-top: 27px;
  }
}
@media (max-width: 332px) {
  .dishes__text span {
    flex-direction: column;
  }
  .box__dot {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .restaurant__foto__box {
    margin-top: -490px;
    z-index: -1;
  }
  .dishes {
    margin-top: -3px;
  }
}

.reviews {
  margin-top: 90px;
  background: #3a4574;
  padding: 220px 0;
}
.reviews__box {
  max-width: 782px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.quotes {
  width: 83px;
  height: 58px;
}
.reviews__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 74px;
  color: #d3b47f;
  text-align: center;
}
.reviews__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}
.reviews__signature {
  font-weight: 600;
  font-size: 24px;
  line-height: 64px;
  letter-spacing: 0.245em;
  color: #d3b47f;
  text-align: center;
}
.swiper {
  height: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  transition: 0.3s ease all;
  &:hover {
    color: #d3b47f;
  }
}
.slide__box {
  margin-left: 35px;
  margin-right: 35px;
}

@media (max-width: 684px) {
  .reviews {
    margin-top: 4px;
  }
}

@media (max-width: 488px) {
  .reviews {
    margin-top: 2px;
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .quotes {
    width: 53px;
    height: 38px;
  }
  .reviews__title {
    font-size: 24px;
    line-height: 36px;
  }
  .reviews__text {
    font-size: 12px;
    line-height: 22px;
  }
  .reviews__signature {
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    &::after {
      font-size: 18px;
    }
  }
}

.food {
  margin-top: 51px;
  color: #000000;
}
h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 88px;
  text-transform: uppercase;
}
.food__item {
  .food__vector {
    width: 108px;
    border-bottom: 2px solid #d3b47f;
    margin-left: -54px;
    margin-bottom: 16px;
  }
}
.food__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  .food__text {
    align-self: center;
    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: #808080;
      display: block;
      max-width: 470px;
    }
  }
}
.food__foto {
  width: 670px;
  height: 560px;
}

@media (max-width: 1174px) {
  .food,
  .food__item .food__text span {
    color: #fff;
  }
  .food__item {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  .food__text {
    z-index: 1;
  }
  .food__even {
    flex-direction: column-reverse;
  }
  .food__foto {
    margin-top: -250px;
    width: 100%;
    object-fit: cover;
    filter: brightness(40%);
  }
  .food__list {
    padding: 0;
  }
  .food__text {
    padding: 0 15px;
  }
}
#food__item3 {
  margin-bottom: 0;
}

@media (max-width: 1174px) {
  .food__item {
    position: relative;
  }
  .food__text {
    position: absolute;
  }
  .food__foto {
    margin-top: -49px;
  }
  .food__even {
    .food__text {
      top: 0;
    }
  }
}
@media (max-width: 433px) {
  h2 {
    font-size: 26px;
    line-height: 39px;
  }
}

.foto {
  margin-top: 80px;
  // background: #3a4574;
  .swiper-slide {
    img {
      width: 100%;
    }
  }
}
.foto_outer {
  background: #3a4574;
}
.foto__inner__text {
  padding-bottom: 393px;
  display: flex;
  justify-content: space-between;
  .foto__button__box {
    position: relative;
    .swiper-button-prev {
      left: -127px;
    }
  }
  span {
    display: block;
    max-width: 569px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }
}
.slider__box {
  max-width: 970px;
  margin: -302px auto 0 auto;
  overflow: hidden;
}
.swiper__foto {
  position: relative;
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
  }
}

@media (max-width: 684px) {
  .foto {
    margin-top: 2px;
  }
}

@media (max-width: 655px) {
  .slider__box {
    margin-top: -160px;
  }
  .foto__inner__text {
    flex-direction: column;
    gap: 30px;
    padding-bottom: 190px;
  }
  .foto__inner__text .foto__button__box .swiper-button-prev {
    left: 0;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 28px;
  }
}
@media (max-width: 433px) {
  .foto__inner__text {
    padding-top: 25px;
  }
}

// SECTION CONTACTS

.contacts {
  margin-top: 101px;
  color: #000;
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: 48px;
    line-height: 88px;
    text-transform: none;
  }
}
.contacts__list {
  margin-top: 35px;
}
.contact__ico {
  width: 64px;
  height: 64px;
  background: #d3b47f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__item {
  margin-bottom: 40px;
  .contact__inner {
    display: flex;
    align-items: center;
  }
}
.contact__data {
  margin-left: 16px;
}
.contact__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #2e2e2e;
}
.contact__signature {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #2e2e2e;
}
.feedback__data {
  display: flex;
  gap: 19px;
  justify-content: space-between;
  margin-bottom: 20px;
  label {
    line-height: 32px;
  }
  fieldset {
    width: 100%;
  }
}
.name__field {
  margin-top: 10px;
  border: 1px solid #cccccc;
  height: 80px;
  padding: 0 16px;
  width: 100%;
  transition: all .3s ease;
  &:hover, &:focus{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
}
.questions__block {
  width: 100%;
  max-width: 670px;
}
.special__request {
  margin-top: 10px;
  border: 1px solid #cccccc;
  height: 125px;
  padding: 28px 16px;
  width: 100%;
  resize: none;
  transition: all .3s ease;
  &:hover, &:focus{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
}
.send__btn {
  width: 270px;
  height: 100px;
  background: #3a4574;
  color: #fff;
  margin-top: 20px;
  &:hover{
    background: #5b679c;
    transition: all .2s ease;
  }
}
@media (max-width: 1115px) {
  .contacts {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
  }
}
@media (max-width: 433px) {
  .contact__title {
    font-size: 12px;
    line-height: 24px;
  }
  .contact__signature {
    font-size: 14px;
    line-height: 21px;
  }
  .feedback__data {
    flex-direction: column;
  }
  .send__btn {
    width: 100%;
  }
  .contacts h2 {
    font-size: 32px;
    line-height: 48px;
  }
  .contact__ico {
    width: 48px;
    height: 48px;
  }
}
@media (max-width: 282px) {
  .contact__item .contact__inner {
    flex-direction: column;
    align-items: baseline;
  }
}
.map {
  margin-top: 50px;
}

.footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  & > * {
    margin-bottom: 25px;
  }
}
.social__logo {
  display: flex;
  width: 100%;
  max-width: 267px;
  justify-content: space-between;
}
.footer {
  .social__item {
    width: 48px;
    height: 48px;
    border: 1px solid #000000;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-feature-settings: "pnum" on, "lnum" on;
    &:hover{
      color: #fff;
      border: 1px solid #5b679c;
    }
  }
}
.footer__logo {
  width: 100%;
  max-width: 269px;
}
@media (max-width: 580px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}

._hidden {
  display: none;
}

.modal {
  position: relative;
}

.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__feedback {
  width: 512px;
  background-color: #fff;
  max-width: 90%;
  padding: 15px;
  color: #000;
  position: relative;
  h3 {
    text-align: center;
    text-transform: none;
    letter-spacing: normal;
  }
  .name__field {
    height: 40px;
  }
  .special__request {
    padding-top: 14px;
    padding-bottom: 14px;
    height: 90px;
  }
  input {
    margin-bottom: 10px;
  }
  .send__btn {
    background: #3a4574;
    width: 100%;
    height: 70px;
    &:hover{
      background: #5b679c;
      transition: all .2s ease;
    }
  }
}
.close {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(58, 69, 116);
  // border: 1px solid black;
  top: -20px;
  right: -20px;
  cursor: pointer;
  &:hover{
    background: #5b679c;
  }
}
.close:before,
.close:after {
  content: "";
  position: absolute;
  top: 18px;
  left: 8px;
  width: 26px;
  height: 4px;
  background: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.desktop__menu {
  .nav__item{
    a {
      position: relative;
      color: white;
      transition: opacity 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  
      &::after {
        --scale: 0;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        height: 2px;
        background: linear-gradient(135deg, rgb(255, 255, 255), rgb(58, 69, 116));
        transform: scaleX(var(--scale));
        transform-origin: var(--x) 50%;
        transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
      }
  
      &:hover {
        opacity: 1;
      }
  
      &:hover::after {
        --scale: 1;
      }
    }
  }
}
